<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="episerver" type="EPiServer.Configuration.EPiServerSection, EPiServer.Configuration" />
        <section name="episerver.framework" type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework.AspNet" restartOnExternalChanges="true" />
        <section name="episerver.baseLibrary" allowDefinition="MachineToApplication" allowLocation="false" type="EPiServer.BaseLibrary.ConfigurationHandler,EPiServer.BaseLibrary" />
        <section name="episerver.shell" type="EPiServer.Shell.Configuration.EPiServerShellSection, EPiServer.Shell" />
        <section name="episerver.search" type="EPiServer.Search.Configuration.SearchSection, EPiServer.Search.Cms" />
    </configSections>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.ApplicationModules" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Data.Cache" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Data" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Events" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Framework" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Licensing" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Shell" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.21.1.0" newVersion="11.21.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Configuration" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Enterprise" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.ImageLibrary" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.LinkAnalyzer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Web.WebControls" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.XForms" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.1.0" newVersion="10.0.1.0" />
            </dependentAssembly>
            <probing privatePath="modulesbin" />
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Cms.Shell.UI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.21.1.0" newVersion="11.21.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Shell.UI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.21.1.0" newVersion="11.21.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.UI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.21.1.0" newVersion="11.21.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Framework.AspNet" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.Cms.AspNet" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.12.0.0" newVersion="11.12.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EPiServer.ServiceLocation.StructureMap" publicKeyToken="null" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
    <system.web>
        <compilation targetFramework="4.5" />
        <globalization culture="en-US" uiCulture="en" requestEncoding="utf-8" responseEncoding="utf-8" resourceProviderFactoryType="EPiServer.Framework.Localization.LocalizationServiceResourceProviderFactory, EPiServer.Framework.AspNet" />
        <httpRuntime requestValidationMode="2.0" />
        <pages validateRequest="false" enableEventValidation="true" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <controls>
                <add tagPrefix="EPiServer" namespace="EPiServer.Web.WebControls" assembly="EPiServer.Cms.AspNet" />
                <add tagPrefix="EPiServer" namespace="EPiServer.Web.WebControls" assembly="EPiServer.Web.WebControls" />
                <add tagPrefix="XForms" namespace="EPiServer.XForms.WebControls" assembly="EPiServer.XForms" />
                <add tagPrefix="EPiServer" namespace="EPiServer.Framework.Web.WebControls" assembly="EPiServer.Framework.AspNet" />
            </controls>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Linq" />
                <add namespace="System.Collections.Generic" />
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.WebPages" />
                <add namespace="EPiServer.Framework.Web.Mvc.Html" />
            </namespaces>
        </pages>
        <caching>
            <outputCacheSettings>
                <outputCacheProfiles>
                    <add name="ClientResourceCache" enabled="true" duration="3600" varyByParam="*" varyByContentEncoding="gzip;deflate" />
                </outputCacheProfiles>
            </outputCacheSettings>
        </caching>
    </system.web>
    <episerver>
        <applicationSettings httpCacheability="Public" pageValidateTemplate="false" uiShowGlobalizationUserInterface="true" uiUrl="~/EPiServer/CMS/" urlRebaseKind="ToRootRelative" />
    </episerver>
    <episerver.framework>
        <appData basePath="App_Data" />
        <scanAssembly forceBinFolderScan="true" />
        <virtualRoles addClaims="true">
            <providers>
                <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
                <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
                <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
                <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
                <add name="CmsAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
                <add name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebEditors" mode="Any" />
                <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
            </providers>
        </virtualRoles>
        <virtualPathProviders>
            <clear />
            <add name="ProtectedModules" virtualPath="~/EPiServer/" physicalPath="Modules\_Protected" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework.AspNet" />
        </virtualPathProviders>
    </episerver.framework>
    <episerver.shell>
        <publicModules rootPath="~/modules/" autoDiscovery="Modules" />
        <protectedModules rootPath="~/EPiServer/" />
    </episerver.shell>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="InitializationModule" type="EPiServer.Framework.Initialization.InitializationModule, EPiServer.Framework.AspNet" preCondition="managedHandler" />
            <add name="UrlRewriteModule" type="EPiServer.Web.RoutingUrlRewriteModule, EPiServer.Cms.AspNet" preCondition="managedHandler" />
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </handlers>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".gif" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
                <add extension=".png" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
                <add extension=".js" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
                <add extension=".css" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
                <add extension=".jpg" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
                <add extension=".jpeg" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
            </profiles>
        </caching>
    </system.webServer>
    <location path="Modules/_Protected">
        <system.webServer>
            <validation validateIntegratedModeConfiguration="false" />
            <handlers>
                <clear />
                <add name="BlockDirectAccessToProtectedModules" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
            </handlers>
        </system.webServer>
    </location>
    <location path="EPiServer">
        <system.web>
            <httpRuntime maxRequestLength="1000000" requestValidationMode="2.0" />
            <pages enableEventValidation="true" enableViewState="true" enableSessionState="true" enableViewStateMac="true">
                <controls>
                    <add tagPrefix="EPiServerUI" namespace="EPiServer.UI.WebControls" assembly="EPiServer.UI" />
                    <add tagPrefix="EPiServerScript" namespace="EPiServer.ClientScript.WebControls" assembly="EPiServer.Cms.AspNet" />
                    <add tagPrefix="EPiServerScript" namespace="EPiServer.UI.ClientScript.WebControls" assembly="EPiServer.UI" />
                </controls>
            </pages>
            <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
            <authorization>
                <allow roles="WebEditors, WebAdmins, Administrators" />
                <deny users="*" />
            </authorization>
        </system.web>
        <system.webServer>
            <handlers>
                <clear />
                <add name="AssemblyResourceLoader-Integrated-4.0" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode,runtimeVersionv4.0" />
                <add name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
                <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
                <add name="WebServiceHandlerFactory-Integrated-4.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
                <add name="svc-Integrated-4.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
                <add name="wildcard" path="*" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
            </handlers>
        </system.webServer>
    </location>
    <location path="EPiServer/CMS/admin">
        <system.web>
            <authorization>
                <allow roles="WebAdmins, Administrators" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="util">
        <system.web>
            <pages enableEventValidation="true">
                <controls>
                    <add tagPrefix="EPiServerUI" namespace="EPiServer.UI.WebControls" assembly="EPiServer.UI" />
                    <add tagPrefix="EPiServerScript" namespace="EPiServer.ClientScript.WebControls" assembly="EPiServer.Cms.AspNet" />
                </controls>
            </pages>
            <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
        </system.web>
        <system.webServer>
            <handlers>
                <clear />
                <add name="AssemblyResourceLoader-Integrated-4.0" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode,runtimeVersionv4.0" />
                <add name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
                <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
                <add name="WebServiceHandlerFactory-Integrated-4.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
                <add name="wildcard" path="*" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet" />
            </handlers>
        </system.webServer>
    </location>
    <location path="modulesbin">
        <system.web>
            <authorization>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <episerver.search active="false">
        <namedIndexingServices defaultService="serviceName">
            <services>
                <add name="serviceName" baseUri="Please insert the indexing search service endpoint here if the episerver.search is active. If local service is used pattern is http://sitehost/IndexingService/IndexingService.svc" accessKey="local" />
            </services>
        </namedIndexingServices>
        <searchResultFilter defaultInclude="true">
            <providers />
        </searchResultFilter>
    </episerver.search>
    <!-- system.serviceModel section is not supported on .NET 5 (see https://devblogs.microsoft.com/dotnet/migrating-a-sample-wpf-app-to-net-core-3-part-2/#updating-wcf-client-usage)-->
    <!--<system.serviceModel>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
</system.serviceModel>-->
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
</configuration>