@using System.Collections
@model List<string>

<div class="epi-contentArea">
    <h1 class="EP-prefix">AppSettings</h1>
    <p>
        Displays the transformed active AppSettings.json file
    </p>
</div>
<div class="epi-formArea">

    <h2 class="EP-prefix">AppSettings.json</h2>
    @if (Model != null && Model.Any())
    {
        if (Model.Any() && Model != null)
        {
            <pre>
                    @foreach (var line in Model)
                    {
                        @($"{line}\n") 
                    }
                </pre>
        }
    }

</div>